<!DOCTYPE HTML>
<!--
  templates/base_layout.html

  Author:   Hiromasa Ihara (miettal)
  URL:      http://miettal.com
  License:  MIT License
  Created:  2014-05-19
-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>
{% block title %}
templates/base_layout
{% endblock %}
</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="{{ url_for('static', filename='js/daterangepicker.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/daterangepicker-bs3.css') }}">
</head>
<body>
<h1><a href="/">トップに戻る</a></h1>
<h1><a href="/admin/pointidview/">ポイントID登録</a></h1>
{% block body %}
{% endblock %}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/modules/exporting.js"></script>
<script src="{{ url_for('static', filename='js/daterangepicker.js') }}"></script>
{% block js %}
{% endblock %}
</body>
</html>
